main {
    .jumbo-home {
        background-image: url(/img/jumbotron.jpg);
        background-size: cover;
        height: 500px;
        margin: 0;
        padding: 0;
    }

    .comics-panel {
        position: relative;
        background-color: $light-black;

        .panel-heading {
            position: absolute;
            top: -35px;
            left: 60px;
            color: $white;
            font-size: 28px;
            font-weight: bold;
            min-width: 420px;
            background-color: $light-blue;
            padding: 10px 30px;
        }

        .comics {
            padding: 60px 15px 12px;

            .comic {
                margin-bottom: 24px;

                a {
                    text-decoration: none;
                    color: $grey;
                    transition: .25s;

                    &:hover{
                        color: $white;
                    }
                }

                img {
                    width: 100%;
                }

                h6 {
                    margin: 12px 0 0 0;
                }
            }
        }
    }
}