// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Fotawesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Views
@import "header";
@import "homepage";
@import "comic";
@import "footer";

ul {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
    padding: 0;
}